<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>


    <div class="container flex flex-col mx-auto h-screen py-2">

        <div class="container flex flex-col items-start gap-y-2 p-4 border h-full">
            
            <div class="flex flex-col border px-2 py-1 rounded border-cyan-800">
                <span class="text-stone-500	font-semibold text-sm underline">Abhi</span>
                <span class="font-medium text-black	text-lg">hello how are you</span>
            </div>
            <div class="flex flex-col border px-2 py-1 rounded border-cyan-800 ml-auto">
                <span class="text-stone-500	font-semibold text-sm underline">Abhi</span>
                <span class="font-medium text-black	text-lg">hello how are you</span>
            </div>
        </div>

        <div
          class="focus-within:outline-indigo-400 focus-within:outline focus-within:border-none container border border-black m-2 flex items-center pr-2 mx-auto rounded"
        >
          <input type="text" class="text-2xl focus:outline-transparent m-1 grow" />
          <svg  class="w-6 h-6 fill-current curosor-pointer hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <g data-name="1">
              <path
                d="M291.48 449.94A15 15 0 0 1 278 441.5l-70.5-144.93-144.93-70.49a15 15 0 0 1 1-27.41L435.48 49.08A15 15 0 0 1 455 68.6L305.4 440.54a15 15 0 0 1-13.4 9.39Zm-185.38-236 119.18 58a15 15 0 0 1 6.93 6.93l58 119.18L414 90Z"
              />
              <path
                d="M218.72 300.35a15 15 0 0 1-10.6-25.61L430.47 52.39a15 15 0 1 1 21.21 21.22L229.33 296a15 15 0 0 1-10.61 4.35Z"
              />
            </g>
          </svg>
        </div>
    </div>




  </body>
</html>
