<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

      <div class="container absolute inset-x-0 bottom-0 mx-auto flex my-8 gap-x-2.5">
        <input type="text" class="grow border border-indigo-500 text-3xl rounded-md"/>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6  fill-current hover:text-indigo-500 hover:scale-150 hover:cursor-pointer	">
          <g data-name="1">
            <path
              d="M291.48 449.94A15 15 0 0 1 278 441.5l-70.5-144.93-144.93-70.49a15 15 0 0 1 1-27.41L435.48 49.08A15 15 0 0 1 455 68.6L305.4 440.54a15 15 0 0 1-13.4 9.39Zm-185.38-236 119.18 58a15 15 0 0 1 6.93 6.93l58 119.18L414 90Z"
            />
            <path
              d="M218.72 300.35a15 15 0 0 1-10.6-25.61L430.47 52.39a15 15 0 1 1 21.21 21.22L229.33 296a15 15 0 0 1-10.61 4.35Z"
            />
          </g>
        </svg>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script> -->

    <!-- <script>
      // connecting to the websocket
      const socket = io();

      // select the input tag and get the text out of it
      const inputTag = document.querySelector("input");

      function btnClicked() {
        // when user clicks on button get the text
        // from input and send it to server using
        // socket
        socket.emit("msg", {
          message: inputTag.value,
          userName: "vijay",
        });

        // clear the input tag
        inputTag.value = ""
      }

      socket.on("server msg", (data) => {
        // data -> {message: "hello", userName: "server"}

        // create a element call div
        const divTag = document.createElement("div")

        // create span tag 
        const spanTag = document.createElement('span')

        spanTag.innerText = data.message

        // add the spanTag inside the divTag
        divTag.appendChild(spanTag)

        // add the divTag inside the body
        const body = document.body

        // add the divTag to the body
        body.appendChild(divTag)

      })

      socket.on("client connections", (data) => {
        // select the div tag which has a id called clients
        const divTag = document.getElementById("clients")
        divTag.innerText = data.message

      })


    </script> -->
  </body>
</html>
